*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.navlogo {
    height: 48px;
    width: 113px;
    padding-top: 7px;
    padding-left: 7px;
}
    

.logo{
    background-image: url("/Project\ Images/Amazon-Logo.png");
    height: 35px;
    width: 100%;
    background-size: cover;
}

.border{
    border: 1.3px solid transparent;
}
.border:hover {
    border: 1.3px solid white;
}
.delivericon {
    display: flex;
    align-items: center;
}

.add-first{
    color: #cccccc;
    margin-left: 18px;
    font-size: 0.8rem;
}
.add-second{
   margin: 2px;
}
.navaddress{
    margin:8px;
}
.nav-search{
    height: 40px;
    display: flex;
    align-items: center;
    /* border: 0.5px solid white; */
    /* border-radius: 5px; */
    width: 600px;
    
}
.select-all{
    height: 36px;
    width:50px;
    background-color: #f3f3f3;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}
.inputsearch{
    width: 500px;
    border: none;
    font-size: 15px;
     
    padding: 7px 10px 10px 0px;
}
.search-icon{
    height: 35px;
    width: 42px;
    background-color: #febd68;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.2rem;
    color: #0F1111;
}
.country{
    display: flex;
    text-align: center;
    padding: 5px 5px 5px 5px;
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif;
    width: 45px;
    
}
.country-currency{
    margin-right: 4px;
}
.country-language{
    font-size: 16px;
    font-weight: 800;
}
.box-down{
    margin: 1px;
}
.signin{
    height: 40px;
    margin: 15px;
    display: inline;
    padding: 5px 2px 8px 8px ;
    width: 108px;

}
.signin-text{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif ;

}
.account-detail{
    font-size: 14px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;

}
.return-section{
    height: 40px;
    padding: 4px 2px 8px 9px;
    width: 64px;
    
   

}
.return{
    font-size: 12px;
}
.order{
    font-size: 14px;
    font-weight: bolder;
}
.cart-section{
    display: flex;
    font-size: 30px;
    height: 40px;
    padding: 4px 6px 8px 9px ;
    margin: 6px;
    
}
.cart-text{
    font-size: 18px;
    padding: 12px 0px 0px 0px;
    font-weight: bolder;
}

/* panel */

.panel{
    background-color:#232f3e;
    height: 39px;
    display: flex;
    color: white ;
    align-items: center;
    justify-content: space-evenly;
    
}
.panel-option p{
    display: inline;
    font-size: 14px;
    margin-left: 12px;
}
.panel-option{
    width: 70%;
}
.panel-deals{
    font-weight: bold;
}
/* hero-section */
.hero-section{
    background-image: url("/Project\ Images/hero-image.jpg");
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
.hero-message{
    background-color: #f5f6f6;
    height: 35px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 20%;
}
.hero-message a{
    color: #2162a1;
    text-decoration: none;
}

/* shop-section */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -19.5%;
    

}
.box{
    height: 400px;
    width: 23%;
    margin-top: 20px;
    background-color: #f3f3f3;
    
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}

.box-content a{
    color: #2162a1;
    text-decoration: none;
}

.box-content{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
   
}

.panel-top{
    display: flex;
    height: 49px;
    justify-content: center;
    align-items: center;
    background-color: #232f3e;
    margin-top: 10%;
    font-size: 0.9rem;
    color: white;
}
.panel-middle{
    display: flex;
    flex-direction: wrap;
    height: 400px;
    background-color: #121f2d;
    
    
   
}

   
/* .table {
    height: 400px;
    background-color: #121f2d;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
} */
.table-content {
    width: 20%;
    height: 250px;
    color: #dddddd;
    display: block;
    padding: 4%;
}
.table-content p{
    font-size: 14px;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
}
.panel-2-lower{
    height: 100px;
    background-color: #121f2d;
    border-top: 1px rgb(89, 88, 88) solid ;
    display: flex;
    justify-content: center;
    align-items: center;

}
.panel-logo{
    background-image: url("Project\ Images/Amazon-Logo.png");
    background-size: cover;
    height: 48px;
    width: 150px;
}
.panel-box{
    width: 60%;
    display: flex;
    /* justify-content:center; */
    align-items: center;
    margin-left: 200px;
    
}
.panel-lang{
    height: 25px;
    width: 150px;
    color: white;
    display: flex;
    font-size: 13px;
    border: 0.5px rgb(104, 98, 98) solid ;
    justify-content: center;
    align-items: center;
    padding: 6px 25px 8px 0px ;
    margin-right: 10px;

}
.globe-icon{
    margin-right: 12px;
}
.panel-country{
    height: 25px;
    width: 150px;
    color: white;
    display: flex;
    font-size: 13px;
    border: 0.5px rgb(104, 98, 98) solid ;
    justify-content: center;
    align-items: center;
    padding: 6px 25px 8px 0px ;
    background-size: cover;
    margin-right: 10px;
    
    
}
.panel-name{
     height: 25px;
    width: 150px;
    color: white;
    display: flex;
    font-size: 13px;
    border: 0.5px rgb(104, 98, 98) solid ;
    justify-content: center;
    align-items: center;
    padding: 6px 25px 8px 0px ;
    margin-right: 10px;

}

  .fi{
    margin-right: 4px;

}
.panel-end  {
    background-color: #081422;
    height: 50px;
    color: white ;
    font-size: 13px;
    /* display:flex ;
    align-items: center;
    justify-content: center; */
    /* margin-top: -1.5%; */
    text-align: center;
      
}


    

    
    

